################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SmallProgramDemo/SmallProgramDemo.Api/obj
/.vs
/SmallProgramDemo/.vs/SmallProgramDemo/v16
/SmallProgramDemo/SmallProgram.Core/obj
/SmallProgramDemo/SmallProgram.Infrastructure/obj
/SmallProgramDemo/SmallProgramDemo.Core/obj
/SmallProgramDemo/SmallProgramDemo.Infrastructure/obj
/SmallProgramDemo/SmallProgramDemo.Api/bin/Debug/netcoreapp2.2
/SmallProgramDemo/SmallProgramDemo.Core/bin/Debug/netstandard2.0
/SmallProgramDemo/SmallProgramDemo.Infrastructure/bin/Debug/netstandard2.0
/SmallProgramDemo/.vs/SmallProgramDemo/DesignTimeBuild
/SmallProgramDemo/Tools.MarkdownImageConvertBase64/bin/Debug
/SmallProgramDemo/Tools.MarkdownImageConvertBase64/obj/Debug
/SmallProgramDemo/Tools.MarkdownImageConvertBase64/obj/Release
