<div>
    <form class="post-editor-form" [formGroup]="postForm" (ngSubmit)="submit()">
      <mat-form-field class="post-editor-title">
        <input matInput placeholder="标题" formControlName="title">
        <mat-error *ngIf="!!postForm.controls.title.dirty && !!postForm.controls.title.errors?.required">
          请输入标题
        </mat-error>
        <mat-error *ngIf="!!postForm.controls.title.dirty && !!postForm.controls.title.errors?.minlength">
          最少不能少于10个字符
        </mat-error>
        <mat-error *ngIf="!!postForm.controls.title.dirty && !!postForm.controls.title.errors?.maxlength">
          最大不能超过100个字符
        </mat-error>
      </mat-form-field>    

      <!-- formControlName="body" -->

      <editor [init]="editorSettings" formControlName="body"></editor>
      
      <section *ngIf="!!postForm.controls.body.dirty" class="ng-dirty">
        <p class="mat-error" *ngIf="!!postForm.controls.body.errors?.required">
          请输入正文内容，正文内容不能为空
        </p>
        <p class="mat-error" *ngIf="!!postForm.controls.body.errors?.minlength">
          正文内容不能少于100个字符
        </p>
      </section>
      <button type="submit" mat-raised-button color="primary" class="submit-button" [disabled]="!postForm.valid">Save</button>
    </form>
  </div>