
<div *ngIf="!pageMeta">
  <mat-spinner></mat-spinner>
</div>
<!-- infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
[infiniteScrollContainer]="'.mat-drawer-content'" [fromRoot]="true" -->
<div *ngIf="pageMeta" class="search-results" >
  <button mat-fab color="warn" class="add-fab" [routerLink]="'/smallprogram/write-post'" *ngIf='openIdConnectService.userAvailable'>
    <mat-icon aria-label="Add Post">add</mat-icon>
  </button>
  <ng-container *ngFor="let item of posts">
    <app-post-card [post]="item"></app-post-card>
  </ng-container>

</div>